<style>
body {background-color: #f7cac9;}
.container { 
            padding-left: 175px;
            padding-right: 175px;
          }
</style>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="index">The Drag Queen App</a>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
<div class="row pt-2">
<div class="col-sm-6 col-md-8 text-left">
<h1>You are a comedy queen!</h1>
</br>
<h3>Why you gagging so? She bring it to you every ball!</h3>
</div>
</div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
<div class="bg-light mr-md-3 pt-3 px-3 text-left overflow-hidden">
<p>You are a queen who lives for the applause, and the laughter. They eat it up every damn time...
You might not have stoned those tights yourself but you definitely swept the floor with them.
Not sure you agree? Head on back to the start.</p>
<div class="text-center">
<%= link_to 'Remember, we walking into the room purse first.', 'index', class: 'btn btn-secondary' %>
</div class>
</div>
<div class="container bg-light mr-md-3 pt-3 px-3 pb-3>
<div class="media">
<img src="https://i.pinimg.com/originals/0b/12/90/0b12909487662184be233c8a5094f8c6.jpg" class="img-fluid rounded mx-auto d-block px-3 pb-3" width="500px" height="600px">
</div>
</div>
</div>