<style>
body {background-color: #f7cac9;}
.container { 
            padding-left: 175px;
            padding-right: 175px;
          }
</style>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="index">The Drag Queen App</a>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
<div class="row pt-2">
<div class="col-sm-6 col-md-8 text-left">
<h1>You are a pageant queen!</h1>
</br>
<h3>"Girl, look how f*#king orange you look?" I'm just joking...</h3>
</div>
</div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
<div class="bg-light mr-md-3 pt-3 px-3 text-left overflow-hidden">
<p>You're a queen who lives and strives for elegance, poise and want everyone to know you've entered the room.
And that's no bad thing. Get ready to show the world how fabulous you are. And remember... If you stay ready, you ain't gots to get ready.
Want to let your friends try?</p>
<div class="text-center">
<%= link_to 'Let\'s go back back back again', 'index', class: 'btn btn-secondary' %>
</div class>
</div>
<div class="container bg-light mr-md-3 pt-3 px-3 pb-3>
<div class="media">
<img src="https://i.pinimg.com/originals/56/cc/aa/56ccaaddd4e69a8d0cc2f98c3e8a4896.jpg" class="img-fluid rounded mx-auto d-block px-3 pb-3" width="500px" height="600px">
</div>
</div>
</div>