<!doctype html>
<style>
body {background-color: #f7cac9;}
.container { 
            padding-left: 175px;
            padding-right: 175px;
          }
</style>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="index">The Drag Queen App</a>
</nav>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
<div class="row pt-2">
<div class="col-sm-6 col-md-8 text-left">
<h1>Questionnaire!</h1>
</br>
<h3>How would you describe yourself?</h3>
</div>
<div class="col-6 col-md-4 text-right">
<img src="https://media1.tenor.com/images/65fe33a79c615068f605b0b3b38c3170/tenor.gif" class="figure-img img-fluid rounded pull-right" width="200px" height="200px">
</div>
</div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
<div class="bg-light mr-md-3 pt-3 px-3 text-center">
<h3>Option 1</h3>
</br>
<p>Are you someone who wants to look elegant? You strive to feel the fantasy!</p>
<div class="media">
<img src="https://i1.wp.com/68.media.tumblr.com/7f08267628947435a183554f28b43e95/tumblr_oxhnlrb8671r3jqyco4_1280.gif?" class="img-fluid mx-auto d-block px-3 pb-3">
</div>
<div class="text-center">
<%= link_to 'You should click me then!', 'pageant', class: 'btn btn-secondary mb-2' %>
</div>
</div>
<div class="bg-light mr-md-3 pt-3 px-3 text-center">
<h3>Option 2</h3>
</br>
<p>Do you feel like you don't fit in? Honestly, that's ok. </p>
<div class="media">
<img src="https://66.media.tumblr.com/3a901d8489e1f73bf945b82d271d800d/0be0b15d637518a8-85/s540x810/bdcd0a54b615c37e44dbdb910e504e45af2151f9.gifv" class="img-fluid mx-auto d-block px-3 pb-3">
</div>
<div class="text-center">
<%= link_to 'You are gonna love this!', 'alternative', class: 'btn btn-secondary mb-2' %>
</div>
</div>
<div class="bg-light mr-md-3 pt-3 px-3 text-center">
<h3>Option 3</h3>
</br>
<p>You love to make a room howl, right? </p>
<div class="media">
<img src="https://media.giphy.com/media/ehUkIAJRu1w9Z12SI5/giphy.gif" class="img-fluid mx-auto d-block px-3 pb-3">
</div>
<div class="text-center">
<%= link_to 'Make \'em laugh, girl!', 'comedy', class: 'btn btn-secondary mb-2' %>
</div>
</div>
</div>
